* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* variable here */
:root {
}
/* body start */
body {
    display: block;
}
.video {
  text-align: center;
  margin: 2rem;

  h1 {
    margin: 2rem 0;
  }
  video{
    border-radius: 1rem;
  }
}
.reason{
    align-items: center;

    h1{
        text-align: center;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    figure img{
        width:50%;
        border-radius: 50%;
        gap:1rem;
        object-fit: cover;
        grid-template-columns:(3,1);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* CSS rules for extra small screens */
}

/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* CSS rules for small screens */
}

/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for medium screens */
}

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* CSS rules for large screens */
}
