* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variable here */
:root {
    font-family: "Montserrat", sans-serif;
}
/* body start */
body {
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    align-items: center;
    margin-top: 1rem;
    border: 2px solid red;
}

.header-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.header-list a {
    color: black;
    text-decoration: none;
    background-color: rgb(206, 203, 203);
    padding: 0.5rem 1rem;
}

li {
    font-size: 0.8rem;
}

.header-list a:hover {
    background-color: #ce3c83;
    color: white;
}

.header-img {
    margin-left: 1rem;
    border-radius: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* CSS rules for extra small screens */
}

/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    /* CSS rules for small screens */
}

/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* CSS rules for medium screens */
}

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    /* CSS rules for large screens */
}
